{
  name = "JavaScript";
  uuid = "93E017CC-6F27-11D9-90EB-000D93589AF6";
  fileTypes = ( js, htc );

  foldingStartMarker = "^\\s*([A-Za-z0-9.]+?\\s*=\\s*)?(function)\\>";
  foldingStopMarker = "(^\\s*\\}";
  increaseIndentPattern = "^\\s*(function\\s*\\w*\\s*\\([^)]*\)\s*{.*$";
  smartTypingPairs = (
      ( "(", ")" ), ( "[", "]" ), ( "{", "}" ),
      ( "\"", "\"" ), ( "'", "'" )
  );
  highlightPairs = (
      ( "(", ")" ), ( "[", "]" ), ( "{", "}" )
  );

  foregroundColor = "#dddddd";
  backgroundColor = "#111111";

  patterns = (
    { name = "keywords.js"; foregroundColor = "#CC7833"; match = "\\<(this|typeof|new|true|false|undefined|null|for|in|break|continue|while|do|function|return|if|else|case|switch|var)\\>"; },
    { name = "constants.numeric.js"; match = "\\<((0(x|X)[0-9a-fA-F]+)|([0-9]+(\\.[0-9]+)?))\\>"; foregroundColor = "#3387CC"; },

    { name = "keywords.functions.js"; match = "(\\<|\\.)([a-zA-Z_]\\w*(?=\s*\\())";
      "foregroundColor[2]" = "#CC3833";
    },

    { name = "strings.single-quoted.js"; begin = "'"; end = "'"; swallow = "\\\\."; foregroundColor = "#66CC33"; },
    { name = "strings.double-quoted.js"; begin = "\""; end = "\"";   swallow = "\\\\."; foregroundColor = "#66CC33"; },

    { name = "strings.regex.js"; begin = "/"; end = "/([igm]+)?";  foregroundColor = "#CCCC33";
      patterns = (
        { name = "strings.escaped-slash.js"; match = "\\\\/"; foregroundColor = "#CCCC33"; }
      );
    },

    { name = "comments.block.js"; begin = "\\/\\*"; end = "\\*\\/"; swallow = "\\\\."; foregroundColor = "#9933CC"; },
    { name = "comments.line.js"; match = "\\/\\/.*$"; "fontStyle" = ( italic ); foregroundColor = "#9933CC"; },
  );
}

